[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-marshmallow = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
flask-heroku = "*"
environs = "*"

[requires]
python_version = "3.7"
